@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Short+Stack&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    background-color: #BFD200;
    background-image: url('../images/leafBkg.png');
    box-sizing: border-box;
    font-family: 'Short Stack', cursive;
    color: #1e2a40;
}

html {
    height: 100vh;
}

h1 {
    font-family: 'Mochiy Pop One', sans-serif;
    color: #1e2a40;
    font-size: 6vw;
    text-align: center;
}

h2 {
    font-family: 'Mochiy Pop One', sans-serif;
    color: #1e2a40;
}

.header {
    margin: 0.3em;
    height: 80px;
    width: 100%;
    z-index: 5;
}

.difficulty {
    margin: auto;
    width: fit-content;
}

button {
    display: inline-block;
    padding: 0.375em 1.25em;
    margin: 0 0.125em 0.125em 0;
    border: 0.1875em solid #1e2a40;
    border-radius: 1.25em;
    box-sizing: border-box;
    color: #FFFFFF;
    background-color: #1e2a40;
    text-align: center;
    transition: all 0.2s;
}

button:hover {
    border-color: #F3722C;
}

#easy-button {
    color: #BFD200;
    font-weight: bold;
    letter-spacing: 0.2em;
}

#easy-button:hover {
    border-color: #BFD200;
    border-width: 4px;
}

#medium-button {
    color: #F3722C;
    font-weight: bold;
    letter-spacing: 0.2em;
}

#medium-button:hover {
    border-color: #F3722C;
    border-width: 4px;
}

#hard-button {
    color: #F94144;
    font-weight: bold;
    letter-spacing: 0.2em;
}

#hard-button:hover {
    border-color: #F94144;
    border-width: 4px;
}

.btn {
    color: #1e2a40;
    font-weight: bold;
}

.btn:hover{
    border-color: gold;
    border-width: 2px;
    color: #1e2a40;
    font-weight:bolder;
} 

#correct {
    max-width: 12em;
}

#incorrect {
    max-width: 12em;
}

.easy-game {
    margin: 1.25em auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 0.625em;
    justify-content: center;
    perspective: 1000px;
}

.medium-game {
    margin: 1.875em auto;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 0px;
    justify-content: center;
    perspective: 1000px;
}

.hard-game {
    margin: 1.875em auto;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 0px;
    justify-content: center;
    perspective: 1000px;
}

.card {
    margin: 0.3125em;
    height: 9.375em;
    width: 9.375em;
    background: url(../images/back.png);
    background-size: contain;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s ease-in-out;
    border-radius: 25px;
    border:#F3722C solid;

}

.card:hover {
    border-color: #F3722C;
    border-width: 4px;
}

.easy-game>.card {
    height: 9.375em;
    width: 9.375em;
}

.medium-game>.card {
    height: 6.25em;
    width: 6.25em;
}

.hard-game>.card {
    height: 6.25em;
    width: 6.25em;
}


.picture,
.back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    pointer-events: none;
    border-radius: 25px;
}

.picture {
    transform: rotateY(-180deg);
}

.back {
    transform: rotateY(0);
}

.flipCard,
.correct {
    transform: rotateY(180deg);
    pointer-events: none;
}

.guesses {
    font-size: 200%;
    color: #F3722C;
    text-align: center;
    background-color: #1e2a40;
    border-radius: 1.25em;
    width: 15em;
    margin: auto;
}

.win-holder {
    height: 0px;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #F3722C;
}

.congratulations {
    width: 30em;
    padding: 0.625em;
    margin: auto;
    background-color: #BFD200;
    text-align: center;
    transform: translate(0px, -22.5em);
    border: 0.3125em #2F4858 solid;
    background: url(../images/leafBkg.png);
    background-size: contain;
    z-index: 100;
    font-size: 150%;
}

.modal-content{
    background-color: #BFD200;
    text-align: center;
}

.modal-content p {
    font-weight: bold;
    letter-spacing: 0.1em;
}
.congratulationsHidden {
    opacity: 0.0;
    pointer-events: none;
}

.hitem img {
    height: 3em;
    width: 3em;
    border-radius: 50%;
}


.score-wrapper {
    width: 25em;
    margin: auto;
    padding: 0.3125em;
    border-radius: 1.25em;
    color: #FFFFFF;
    background-color: #1e2a40;
}

#score {
    color: #BFD200;
}

#total-score {
    color: #F3722C;
}

#previous-score {
    color:#F3722C;
}

/* News Ticker Animation for the "Congratulations!". */

/* (A) FIXED WRAPPER */
.hwrap {
    overflow: hidden;
    /* HIDE SCROLL BAR */

}

/* (B) MOVING TICKER WRAPPER */
.hmove {
    display: flex;
}

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0.625em;
    text-align: center;
    font-size: 200%;
    color: #F3722C;
}

.filler {
    min-height: calc(100vh - 7.5em);
}
footer {
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 0.625em;
}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
    0% {
        transform: translate3d(100%, 0, 0);
    }

    100% {
        transform: translate3d(-400%, 0, 0);
    }
}

.hmove {
    animation: tickerh linear 10s infinite;
}

/* Media device size queries */

@media (max-width: 900px),
(max-height: 925px) {

    .easy-game>.card {
        height: 6.25em;
        width: 6.25em;
    }

    .medium-game>.card {
        height: 6.25em;
        width: 6.25em;
    }

    .hard-game>.card {
        height: 6.25em;
        width: 6.25em;
    }

    .guesses {
        font-size: 150%;
        width: 16em;

    }

    .congratulations {
        transform: translate(0px, -17.8em);
        width: 24em;
    }

    .score-wrapper {
        width: 20em;
    }

}

@media (max-width: 700px) {
    .hard-game>.card {
        height: 3.125em;
        width: 3.125em;
    }

    .footer {
        font-size: 80%;
    }
}

@media (max-width: 650px) {

    h1 {
        font-size: 250%;
    }

    .header {
        margin: 0.3em;
        float: right;
    }

    .game {
        grid-gap: 0.3125em;
    }

    .card {
        height: 4.6875em;
        width: 4.6875em;
        margin: 0.1875em;
    }

    .congratulations {
        font-size: 110%;
        transform: translate(0px, -22em);
    }
}

@media (max-width: 500px) {

    h1 {
        font-size: 200%;
    }

    .game {
        grid-gap: 0em;
    }

    .easy-game>.card {
        height: 3.125em;
        width: 3.125em;
        margin: 0.125em;
    }

    .medium-game>.card {
        height: 3.125em;
        width: 3.125em;
        margin: 0.125em;
    }

    .hard-game>.card {
        height: 3.125em;
        width: 3.125em;
    }

    .guesses {
        text-align: center;
        display:flow-root;
        padding: 10px;
        border-radius: 1.25em;
        width: 15em;
        font-size: 100%;
        height: fit-content;
    }

    /*.guesses {
        
        width: 14em;

    }*/

    .congratulations {
        transform: translate(0px, -18em);
        font-size: 80%;
        width: 21em;
    }

    .restart {
        font-size: 80%;
    }

}

@media (max-width: 400px) {

    h1{
        font-size: 300%;
    }
    .easy-game>.card{
        height: 4em;
        width: 4em;

    }
    
    .medium-game>.card {
        height: 3em;
        width: 3em;

    }

    .hard-game>.card {
        height: 3em;
        width: 3em;
    }

    .guesses {
        text-align: center;
        display:flow-root;
        padding: 10px;
        border-radius: 1.25em;
        width: 15em;
    }

    button{
        display:list-item;
        margin: 10px;
    }
    #easy-button {
        margin-left: 20px;
    }
    #hard-button {
        margin-left: 20px;
    }
    .btn {
        margin-left: 55px; 
    }
        
    }