/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Short+Stack&display=swap');

/* Remove browser default settings */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
   background-image: url('/assets/images/leafBkg.png');
   background-color: #BFD200;
}

h1 {
    font-family: 'Mochiy Pop One', sans-serif;
    color: #264653;
    font-size: 10vh;
    padding: 3rem;
}

body {
    font-family: 'Short Stack', cursive;
    color: #264653;
    font-size: 3vh;
}

p{
    padding: 1vh;
}