/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

/* Remove browser default settings */
* {
    margin: 0;
    padding: 0;
    border: none;
}

background {
    background-image: url(/assets/images/leafBkg.png) repeat center center;
}

h1 {
    font-family: 'Fondamento', cursive;
    color: red;
}